@import "index";

@mixin centered {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  width: 100%;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  &:hover, &:active, &:focus{
    cursor: pointer;
  }
}


h1,h2,h3,h4,h5,p,div,article,a,button{
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body{

    main{
      section#background{
        div#filter_tag{
        }
        figure{
        
          img{
            
           
          }
          
        }
      }
      section#infoArea{
        position:absolute;
        top:0;
        margin-top: 10rem;
        z-index: 2;
        width: 100%;
        height: fit-content;
        display:flex;
        flex-direction: column;
        overflow:hidden;  
        color:$base-color;
        text-align:center;
        h1{
          width: fit-content;
          margin: 0 auto;
          border-bottom: 5px solid $base-color;
        }
        div#iconHolder{
          display:flex;
          width: 90%;
          justify-content: space-around;
          margin: 1rem auto;
          img{
            width: 40px;
            border: 1px solid $base-color;
            cursor: pointer;
            &.selected{
              border: 3px solid $secondary-color;
              box-shadow: 0 0 20px $secondary-color;
              border-radius: 3px;
            }
          }
        }
        h2{}
        hr{
          width: 80%;
          background-color: $base-color;
          margin: 1rem auto;
          border:1px solid $base-color;
        }
        p{
          overflow-y:scroll; 
          height: 50vh;
          text-align:left;
          width: 75%;
          margin: 0 auto;
          &::-webkit-scrollbar{
            display:none;
          } 
          a:link, a:visited{
            color: $base-color;
            text-decoration: none;
          }
          a:hover, a:active{
            color:rgb(255,240,103);
          }
        }
      }
    }
  }
}
@media only all and (min-width: 760px) {
  body{
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#infoArea{
       
        h1{
          
        }
        div#iconHolder{
          width: 60%;
          margin: 1rem auto;
          img{
            width: 60px;
          }
        }
        h2{}
        hr{
          width: 80%;
          margin: 1rem auto;
        }
        p{
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }
}
@media only all and (min-width: 992px) {
  body{
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#infoArea{
       
        h1{
          
        }
        div#iconHolder{
          width: 55%;
          margin: 1rem auto;
          img{
            width: 75px;
          }
        }
        h2{}
        hr{
          width: 80%;
          margin: 1rem auto;
        }
        p{
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }
}
@media only all and (min-width: 1200px) {
  body{
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#background{
        figure{
        
          img{
            
           
          }
          
        }
      }
      section#infoArea{
        margin-top: 10rem;
        h1{
          
        }
        div#iconHolder{
          width: 37.5%;
          margin: 1rem auto;
          img{
            width: 80px;
          }
        }
        h2{}
        hr{
          width: 40%;
          margin: 1rem auto;
        }
        p{
          width: 37.5%;
          margin: 0 auto;
        }
      }
    }
  }
}