@import "carousel";
@import "index";


@mixin centered {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  width: 100%;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  &:hover, &:active, &:focus{
    cursor: pointer;
  }
}

.blarken{
  filter:  blur(10px) brightness(30%);
}


h1,h2,h3,h4,h5,p,div,article,a,button{
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body{
    nav{
      // display:none;
    }
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#background{
        div#filter_tag{
          // box-shadow: inset 0 0 50px $base-color;
        }
        figure{
        
          img{
            
           
          }
          
        }
      }
      section#carousel_element,
      section#carousel_element > div.filter{
        @include mobileCarousel;


        div#carousel{
          div#slideHolder{}
          div#slideControls{
            button#prevBtn{}
            button#nextBtn{}
          }
        }
        div#carousel_nav{}
      }
    }
    main.withPopUp{
      background-position:center;
      background-repeat: center;
      background-repeat: no-repeat;
      background-size: cover;
      section#carousel_element{
        display:none;
      }
    }
    #previewPopUp{
      color:$base-color;
      text-shadow: 0 0 0.5rem $base-color;
      position:absolute;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
      bottom:0;
      z-index: 4; 
      height: 100vh;
      width: 100%;
      background-color: rgba(0,0,0,0.25);
      div{
        display:flex;
        justify-content: space-between;
        margin-bottom:1rem;
        button{
          color:$base-color;
          text-shadow: 0 0 0.5rem $base-color;
          background-color: transparent;
          border: none;
          font-size: 1.25rem;
          &:hover,&:active,&:focus{
            color:$secondary-color;
          }
        }
      }
      figure{
        overflow:hidden;
        box-shadow: 0 0 1rem $base-color;
        display:flex;
        justify-content: center;
        img{
          display:flex;
        }
      }
      &.landscape{
        div,figure{
          width: 95%;
          img{
            width: 125%;
          }
        }
      }
      &.portrait{
        div,figure{
          width: 370px;
          img{
            width:100%;
          }
        }
      }
    }
    footer{

    }
  }
}
@media only all and (min-width: 760px) {
  body{
    nav{
      // display:none;
    }
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#background{
        figure{
        
          img{
            
           
          }
          
        }
      }
      section#carousel_element,
      section#carousel_element > div.filter{
        @include minCarousel;


        div#carousel{
          div#slideHolder{}
          div#slideControls{
            button#prevBtn{}
            button#nextBtn{}
          }
        }
        div#carousel_nav{}
      }
    }
    #previewPopUp{
      div{
        display:flex;
        justify-content: space-between;
        // margin-top:1rem;
        button{
          color:$base-color;
          text-shadow: 0 0 0.5rem $base-color;
          background-color: transparent;
          border: none;
          font-size: 1.25rem;
          // font-style: italic;
        }
      }
      figure{
        overflow:hidden;
        border-radius:5px;
      }
      &.landscape{
        div,figure{
          width: 700px;
          img{
            width: 100%;
          }
        }
      }
      &.portrait{
        div,figure{
          width: 500px;
          img{
            width:100%;
          }
        }
      }
    }
    footer{

    }
  }
}
@media only all and (min-width: 992px) {
  body{
    nav{
      // display:none;
    }
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#background{
        figure{
        
          img{
            
           
          }
          
        }
      }
      section#carousel_element,
      section#carousel_element > div.filter{
        @include medCarousel;


        div#carousel{
          div#slideHolder{}
          div#slideControls{
            button#prevBtn{}
            button#nextBtn{}
          }
        }
        div#carousel_nav{}
      }
    }
    #previewPopUp{
      div{
        button{
        }
      }
      figure{
      }
      &.landscape{
        div,figure{
          width: 900px;
          img{
          }
        }
      }
      &.portrait{
        div,figure{
          img{
          }
        }
      }
    }
    footer{

    }
  }
}
@media only all and (min-width: 1200px) {
  body{
    nav{
      // display:none;
    }
    header#navSection{
      div#menu-btn{
        display:flex;
      }
    }
    main{
      section#background{
        figure{
        
          img{
            
           
          }
          
        }
      }
      section#carousel_element,
      section#carousel_element > div.filter{
        @include maxCarousel;


        div#carousel{
          div#slideHolder{}
          div#slideControls{
            button#prevBtn{}
            button#nextBtn{}
          }
        }
        div#carousel_nav{}
      }
    }
    #popupMolecule{
      
      span#instructions{
      }
      div#optionHolder{
       
        
        a{
     
          &:link, &:visited{
          
            figure{

              img{

              }
            }
            span.seriesName{

            }
            span.count{

            }
          }
          &:hover, &:active, &:focus{

          }
        }

      }
      div#btnHolder{

        button{

        }
      }
    }
    footer{

    }
  }
}