* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover, button:active, button:focus {
  cursor: pointer;
}

.blur {
  filter: blur(10px);
}

h1, h2, h3, h4, h5, p, div, article, a, button {
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(31, 50, 59) 100%);
  }
  body header a#logoArea {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    width: 150px;
  }
  body header a#logoArea figure {
    display: flex;
    width: 100%;
  }
  body header a#logoArea figure img {
    width: 100%;
  }
  body header a#logoArea span {
    font-size: 5rem;
    color: rgb(255, 240, 105);
    font-family: "Alike Angular", serif;
    text-shadow: 2px 2px 5px black;
    text-align: center;
  }
  body header nav#mainNav {
    display: none;
  }
  body header div#menu-btn {
    position: relative;
    text-shadow: 0 0 0.5rem white;
    color: white;
    z-index: 4;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  body header div#menu-btn:hover, body header div#menu-btn:active, body header div#menu-btn:focus {
    color: rgb(255, 240, 103);
  }
  body header div#menu-btn span {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
  }
  body header div#menu-btn span.faded {
    opacity: 0;
  }
  body header section#sideMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header section#sideMenu.closed {
    display: none;
  }
  body header section#sideMenu nav ul {
    list-style: none;
    padding: 0;
  }
  body header section#sideMenu nav ul li {
    border: 1px solid white;
    margin: 0.5rem 0;
  }
  body header section#sideMenu nav ul li:hover, body header section#sideMenu nav ul li:active, body header section#sideMenu nav ul li:focus {
    border: 2.5px solid rgb(255, 240, 103);
    box-shadow: 0 0 5px rgb(255, 240, 103);
  }
  body header section#sideMenu nav ul li a, body header section#sideMenu nav ul li button {
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
  }
  body header section#sideMenu nav ul li a:link, body header section#sideMenu nav ul li a:visited, body header section#sideMenu nav ul li button:link, body header section#sideMenu nav ul li button:visited {
    text-decoration: none;
  }
  body header.clear a#logoArea, body header.clear nav#mainNav > ul, body header.clear div#menu-btn, body header.clear section#sideMenu {
    display: none;
  }
  body header.clear nav#mainNav {
    filter: blur(10px);
  }
  body main {
    height: 100vh;
  }
  body main section#background {
    height: 100vh;
    overflow: hidden;
  }
  body main section#background div#filter_tag {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }
  body main section#background figure {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  body main section#background figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  body main section#background figure img.deskImg {
    display: none;
  }
  body main section#background figure img.keep {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  body main section#background figure img.dying {
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      opacity: 0;
      filter: blur(10px);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  body #popupMolecule {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 20vh;
  }
  body #popupMolecule span#instructions {
    margin-bottom: 1rem;
  }
  body #popupMolecule div#optionHolder {
    width: 75%;
    height: 65vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  body #popupMolecule div#optionHolder::-webkit-scrollbar {
    display: none;
  }
  body #popupMolecule div#optionHolder a {
    width: 95%;
    margin: 0 auto;
  }
  body #popupMolecule div#optionHolder a:link, body #popupMolecule div#optionHolder a:visited {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    margin: 0.5rem auto;
    font-style: italic;
    border: 1px solid rgb(100, 100, 100);
  }
  body #popupMolecule div#optionHolder a:link figure, body #popupMolecule div#optionHolder a:visited figure {
    width: 40%;
  }
  body #popupMolecule div#optionHolder a:link figure img, body #popupMolecule div#optionHolder a:visited figure img {
    display: flex;
    width: 100%;
    height: 100%;
  }
  body #popupMolecule div#optionHolder a:link span.seriesName, body #popupMolecule div#optionHolder a:visited span.seriesName {
    width: 50%;
    padding-left: 1rem;
  }
  body #popupMolecule div#optionHolder a:link span.count, body #popupMolecule div#optionHolder a:visited span.count {
    width: 15%;
    text-align: center;
  }
  body #popupMolecule div#optionHolder a:hover, body #popupMolecule div#optionHolder a:active, body #popupMolecule div#optionHolder a:focus {
    box-shadow: 0px 0px 5px rgb(255, 240, 103);
    border: 2.5px solid rgb(100, 100, 100);
  }
  body #popupMolecule div#btnHolder {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  body #popupMolecule div#btnHolder button {
    color: white;
    background-color: transparent;
    border: none;
    font-style: italic;
  }
  body footer {
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 3;
    font-size: 0.5rem;
  }
}
@media only all and (min-width: 760px) {
  body header a#logoArea {
    width: 200px;
  }
  body main section#background figure img {
    width: auto;
    height: 100vh;
  }
  body main section#background figure img.deskImg {
    display: flex;
  }
  body main section#background figure img.mobileImg {
    display: none;
  }
}
@media only all and (min-width: 992px) {
  body #popupMolecule div#optionHolder {
    width: 40%;
  }
  body #popupMolecule div#btnHolder {
    width: 37.5%;
  }
}
@media only all and (min-width: 1200px) {
  body header nav#mainNav {
    display: flex;
    height: 7.5vh;
    width: 100%;
    background-color: rgb(31, 50, 59);
    background-color: rgb(15, 36, 39);
    background-image: radial-gradient(circle at 100% 150%, rgb(15, 36, 39) 24%, rgb(31, 50, 59) 24%, rgb(31, 50, 59) 28%, rgb(15, 36, 39) 28%, rgb(15, 36, 39) 36%, rgb(31, 50, 59) 36%, rgb(31, 50, 59) 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, rgb(15, 36, 39) 24%, rgb(31, 50, 59) 24%, rgb(31, 50, 59) 28%, rgb(15, 36, 39) 28%, rgb(15, 36, 39) 36%, rgb(31, 50, 59) 36%, rgb(31, 50, 59) 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, rgb(31, 50, 59) 10%, rgb(15, 36, 39) 10%, rgb(15, 36, 39) 23%, rgb(31, 50, 59) 23%, rgb(31, 50, 59) 30%, rgb(15, 36, 39) 30%, rgb(15, 36, 39) 43%, rgb(31, 50, 59) 43%, rgb(31, 50, 59) 50%, rgb(15, 36, 39) 50%, rgb(15, 36, 39) 63%, rgb(31, 50, 59) 63%, rgb(31, 50, 59) 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, rgb(31, 50, 59) 5%, rgb(15, 36, 39) 5%, rgb(15, 36, 39) 15%, rgb(31, 50, 59) 15%, rgb(31, 50, 59) 20%, rgb(15, 36, 39) 20%, rgb(15, 36, 39) 29%, rgb(31, 50, 59) 29%, rgb(31, 50, 59) 34%, rgb(15, 36, 39) 34%, rgb(15, 36, 39) 44%, rgb(31, 50, 59) 44%, rgb(31, 50, 59) 49%, transparent 49%, transparent), radial-gradient(circle at 0 50%, rgb(31, 50, 59) 5%, rgb(15, 36, 39) 5%, rgb(15, 36, 39) 15%, rgb(31, 50, 59) 15%, rgb(31, 50, 59) 20%, rgb(15, 36, 39) 20%, rgb(15, 36, 39) 29%, rgb(31, 50, 59) 29%, rgb(31, 50, 59) 34%, rgb(15, 36, 39) 34%, rgb(15, 36, 39) 44%, rgb(31, 50, 59) 44%, rgb(31, 50, 59) 49%, transparent 49%, transparent);
    background-size: 100px 50px;
  }
  body header nav#mainNav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  body header nav#mainNav ul li a, body header nav#mainNav ul li button {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
  }
  body header nav#mainNav ul li a:hover, body header nav#mainNav ul li a:active, body header nav#mainNav ul li button:hover, body header nav#mainNav ul li button:active {
    text-shadow: 0 0 10px rgb(255, 240, 103);
    color: rgb(255, 240, 103);
    font-style: italic;
  }
  body header div#menu-btn {
    display: none;
    cursor: pointer;
  }
  body header div#menu-btn span {
    display: none;
  }
  body main {
    height: 92.5vh;
  }
  body main section#background {
    height: 92.5vh;
  }
  body main section#background div#filter_tag {
    height: 92.5vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover, button:active, button:focus {
  cursor: pointer;
}

.blur {
  filter: blur(10px);
}

h1, h2, h3, h4, h5, p, div, article, a, button {
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(31, 50, 59) 100%);
  }
  body header a#logoArea {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    width: 150px;
  }
  body header a#logoArea figure {
    display: flex;
    width: 100%;
  }
  body header a#logoArea figure img {
    width: 100%;
  }
  body header a#logoArea span {
    font-size: 5rem;
    color: rgb(255, 240, 105);
    font-family: "Alike Angular", serif;
    text-shadow: 2px 2px 5px black;
    text-align: center;
  }
  body header nav#mainNav {
    display: none;
  }
  body header div#menu-btn {
    position: relative;
    text-shadow: 0 0 0.5rem white;
    color: white;
    z-index: 4;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  body header div#menu-btn:hover, body header div#menu-btn:active, body header div#menu-btn:focus {
    color: rgb(255, 240, 103);
  }
  body header div#menu-btn span {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
  }
  body header div#menu-btn span.faded {
    opacity: 0;
  }
  body header section#sideMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header section#sideMenu.closed {
    display: none;
  }
  body header section#sideMenu nav ul {
    list-style: none;
    padding: 0;
  }
  body header section#sideMenu nav ul li {
    border: 1px solid white;
    margin: 0.5rem 0;
  }
  body header section#sideMenu nav ul li:hover, body header section#sideMenu nav ul li:active, body header section#sideMenu nav ul li:focus {
    border: 2.5px solid rgb(255, 240, 103);
    box-shadow: 0 0 5px rgb(255, 240, 103);
  }
  body header section#sideMenu nav ul li a, body header section#sideMenu nav ul li button {
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
  }
  body header section#sideMenu nav ul li a:link, body header section#sideMenu nav ul li a:visited, body header section#sideMenu nav ul li button:link, body header section#sideMenu nav ul li button:visited {
    text-decoration: none;
  }
  body header.clear a#logoArea, body header.clear nav#mainNav > ul, body header.clear div#menu-btn, body header.clear section#sideMenu {
    display: none;
  }
  body header.clear nav#mainNav {
    filter: blur(10px);
  }
  body main {
    height: 100vh;
  }
  body main section#background {
    height: 100vh;
    overflow: hidden;
  }
  body main section#background div#filter_tag {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }
  body main section#background figure {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  body main section#background figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  body main section#background figure img.deskImg {
    display: none;
  }
  body main section#background figure img.keep {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  body main section#background figure img.dying {
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      opacity: 0;
      filter: blur(10px);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  body #popupMolecule {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 20vh;
  }
  body #popupMolecule span#instructions {
    margin-bottom: 1rem;
  }
  body #popupMolecule div#optionHolder {
    width: 75%;
    height: 65vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  body #popupMolecule div#optionHolder::-webkit-scrollbar {
    display: none;
  }
  body #popupMolecule div#optionHolder a {
    width: 95%;
    margin: 0 auto;
  }
  body #popupMolecule div#optionHolder a:link, body #popupMolecule div#optionHolder a:visited {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    margin: 0.5rem auto;
    font-style: italic;
    border: 1px solid rgb(100, 100, 100);
  }
  body #popupMolecule div#optionHolder a:link figure, body #popupMolecule div#optionHolder a:visited figure {
    width: 40%;
  }
  body #popupMolecule div#optionHolder a:link figure img, body #popupMolecule div#optionHolder a:visited figure img {
    display: flex;
    width: 100%;
    height: 100%;
  }
  body #popupMolecule div#optionHolder a:link span.seriesName, body #popupMolecule div#optionHolder a:visited span.seriesName {
    width: 50%;
    padding-left: 1rem;
  }
  body #popupMolecule div#optionHolder a:link span.count, body #popupMolecule div#optionHolder a:visited span.count {
    width: 15%;
    text-align: center;
  }
  body #popupMolecule div#optionHolder a:hover, body #popupMolecule div#optionHolder a:active, body #popupMolecule div#optionHolder a:focus {
    box-shadow: 0px 0px 5px rgb(255, 240, 103);
    border: 2.5px solid rgb(100, 100, 100);
  }
  body #popupMolecule div#btnHolder {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  body #popupMolecule div#btnHolder button {
    color: white;
    background-color: transparent;
    border: none;
    font-style: italic;
  }
  body footer {
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 3;
    font-size: 0.5rem;
  }
}
@media only all and (min-width: 760px) {
  body header a#logoArea {
    width: 200px;
  }
  body main section#background figure img {
    width: auto;
    height: 100vh;
  }
  body main section#background figure img.deskImg {
    display: flex;
  }
  body main section#background figure img.mobileImg {
    display: none;
  }
}
@media only all and (min-width: 992px) {
  body #popupMolecule div#optionHolder {
    width: 40%;
  }
  body #popupMolecule div#btnHolder {
    width: 37.5%;
  }
}
@media only all and (min-width: 1200px) {
  body header nav#mainNav {
    display: flex;
    height: 7.5vh;
    width: 100%;
    background-color: rgb(31, 50, 59);
    background-color: rgb(15, 36, 39);
    background-image: radial-gradient(circle at 100% 150%, rgb(15, 36, 39) 24%, rgb(31, 50, 59) 24%, rgb(31, 50, 59) 28%, rgb(15, 36, 39) 28%, rgb(15, 36, 39) 36%, rgb(31, 50, 59) 36%, rgb(31, 50, 59) 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, rgb(15, 36, 39) 24%, rgb(31, 50, 59) 24%, rgb(31, 50, 59) 28%, rgb(15, 36, 39) 28%, rgb(15, 36, 39) 36%, rgb(31, 50, 59) 36%, rgb(31, 50, 59) 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, rgb(31, 50, 59) 10%, rgb(15, 36, 39) 10%, rgb(15, 36, 39) 23%, rgb(31, 50, 59) 23%, rgb(31, 50, 59) 30%, rgb(15, 36, 39) 30%, rgb(15, 36, 39) 43%, rgb(31, 50, 59) 43%, rgb(31, 50, 59) 50%, rgb(15, 36, 39) 50%, rgb(15, 36, 39) 63%, rgb(31, 50, 59) 63%, rgb(31, 50, 59) 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, rgb(31, 50, 59) 5%, rgb(15, 36, 39) 5%, rgb(15, 36, 39) 15%, rgb(31, 50, 59) 15%, rgb(31, 50, 59) 20%, rgb(15, 36, 39) 20%, rgb(15, 36, 39) 29%, rgb(31, 50, 59) 29%, rgb(31, 50, 59) 34%, rgb(15, 36, 39) 34%, rgb(15, 36, 39) 44%, rgb(31, 50, 59) 44%, rgb(31, 50, 59) 49%, transparent 49%, transparent), radial-gradient(circle at 0 50%, rgb(31, 50, 59) 5%, rgb(15, 36, 39) 5%, rgb(15, 36, 39) 15%, rgb(31, 50, 59) 15%, rgb(31, 50, 59) 20%, rgb(15, 36, 39) 20%, rgb(15, 36, 39) 29%, rgb(31, 50, 59) 29%, rgb(31, 50, 59) 34%, rgb(15, 36, 39) 34%, rgb(15, 36, 39) 44%, rgb(31, 50, 59) 44%, rgb(31, 50, 59) 49%, transparent 49%, transparent);
    background-size: 100px 50px;
  }
  body header nav#mainNav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  body header nav#mainNav ul li a, body header nav#mainNav ul li button {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
  }
  body header nav#mainNav ul li a:hover, body header nav#mainNav ul li a:active, body header nav#mainNav ul li button:hover, body header nav#mainNav ul li button:active {
    text-shadow: 0 0 10px rgb(255, 240, 103);
    color: rgb(255, 240, 103);
    font-style: italic;
  }
  body header div#menu-btn {
    display: none;
    cursor: pointer;
  }
  body header div#menu-btn span {
    display: none;
  }
  body main {
    height: 92.5vh;
  }
  body main section#background {
    height: 92.5vh;
  }
  body main section#background div#filter_tag {
    height: 92.5vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover, button:active, button:focus {
  cursor: pointer;
}

.blarken {
  filter: blur(10px) brightness(30%);
}

h1, h2, h3, h4, h5, p, div, article, a, button {
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body header#navSection div#menu-btn {
    display: flex;
  }
  body main section#carousel_element,
  body main section#carousel_element > div.filter {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body main section#carousel_element div.filter,
  body main section#carousel_element > div.filter div.filter {
    box-shadow: inset 0 0 50px rgb(0, 225, 255);
  }
  body main section#carousel_element #carousel_nav,
  body main section#carousel_element > div.filter #carousel_nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 7.5rem auto 1rem auto;
  }
  body main section#carousel_element #carousel_nav button,
  body main section#carousel_element > div.filter #carousel_nav button {
    margin: 0 0.25rem;
    border: none;
    background-color: transparent;
    transition: color 0.25s;
    font-weight: bolder;
    text-shadow: 0 0 0.5rem white;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
  }
  body main section#carousel_element #carousel_nav button.currentBtn,
  body main section#carousel_element > div.filter #carousel_nav button.currentBtn {
    color: rgb(255, 240, 103);
  }
  body main section#carousel_element #carousel_nav button:hover, body main section#carousel_element #carousel_nav button:active, body main section#carousel_element #carousel_nav button:focus,
  body main section#carousel_element > div.filter #carousel_nav button:hover,
  body main section#carousel_element > div.filter #carousel_nav button:active,
  body main section#carousel_element > div.filter #carousel_nav button:focus {
    color: rgb(255, 240, 103);
  }
  body main section#carousel_element #carousel,
  body main section#carousel_element > div.filter #carousel {
    color: white;
    width: 90vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
  }
  body main section#carousel_element #carousel #slideHolder,
  body main section#carousel_element > div.filter #carousel #slideHolder {
    display: flex;
  }
  body main section#carousel_element #carousel #slideHolder article,
  body main section#carousel_element > div.filter #carousel #slideHolder article {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  body main section#carousel_element #carousel #slideHolder article::-webkit-scrollbar,
  body main section#carousel_element > div.filter #carousel #slideHolder article::-webkit-scrollbar {
    display: none;
  }
  body main section#carousel_element #carousel #slideHolder article h2,
  body main section#carousel_element > div.filter #carousel #slideHolder article h2 {
    text-shadow: 0 0 0.5rem white;
    color: white;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder {
    height: -moz-fit-content;
    height: fit-content;
    width: 90vw;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder figure, body main section#carousel_element #carousel #slideHolder article div#figureHolder img,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder img {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder figure,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure {
    width: 80%;
    margin: 0.5rem auto;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder figure:hover, body main section#carousel_element #carousel #slideHolder article div#figureHolder figure:active, body main section#carousel_element #carousel #slideHolder article div#figureHolder figure:focus,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure:hover,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure:active,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure:focus {
    border: 2px solid rgb(255, 240, 103);
    border-radius: 5px;
  }
  body main section#carousel_element #slideControls,
  body main section#carousel_element > div.filter #slideControls {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    width: 40%;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
  }
  body main section#carousel_element #slideControls button,
  body main section#carousel_element > div.filter #slideControls button {
    text-shadow: 0 0 0.5rem white;
    color: white;
    background-color: transparent;
    font-size: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.25s;
    cursor: pointer;
  }
  body main section#carousel_element #slideControls button:hover, body main section#carousel_element #slideControls button:active, body main section#carousel_element #slideControls button:focus,
  body main section#carousel_element > div.filter #slideControls button:hover,
  body main section#carousel_element > div.filter #slideControls button:active,
  body main section#carousel_element > div.filter #slideControls button:focus {
    color: rgb(255, 240, 103);
  }
  body main section#carousel_element #carousel_note,
  body main section#carousel_element > div.filter #carousel_note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin: 0.5rem auto;
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    width: 100%;
    text-shadow: 0 0 0.5rem white;
    color: white;
  }
  body main.withPopUp {
    background-position: center;
    background-repeat: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body main.withPopUp section#carousel_element {
    display: none;
  }
  body #previewPopUp {
    color: white;
    text-shadow: 0 0 0.5rem white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 4;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  body #previewPopUp div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  body #previewPopUp div button {
    color: white;
    text-shadow: 0 0 0.5rem white;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
  }
  body #previewPopUp div button:hover, body #previewPopUp div button:active, body #previewPopUp div button:focus {
    color: rgb(255, 240, 103);
  }
  body #previewPopUp figure {
    overflow: hidden;
    box-shadow: 0 0 1rem white;
    display: flex;
    justify-content: center;
  }
  body #previewPopUp figure img {
    display: flex;
  }
  body #previewPopUp.landscape div, body #previewPopUp.landscape figure {
    width: 95%;
  }
  body #previewPopUp.landscape div img, body #previewPopUp.landscape figure img {
    width: 125%;
  }
  body #previewPopUp.portrait div, body #previewPopUp.portrait figure {
    width: 370px;
  }
  body #previewPopUp.portrait div img, body #previewPopUp.portrait figure img {
    width: 100%;
  }
}
@media only all and (min-width: 760px) {
  body header#navSection div#menu-btn {
    display: flex;
  }
  body main section#carousel_element #carousel_nav,
  body main section#carousel_element > div.filter #carousel_nav {
    width: 50%;
    margin-top: 5rem;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder figure,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure {
    width: 300px;
    height: 175px;
  }
  body main section#carousel_element #slideControls button,
  body main section#carousel_element > div.filter #slideControls button {
    cursor: pointer;
  }
  body #previewPopUp div {
    display: flex;
    justify-content: space-between;
  }
  body #previewPopUp div button {
    color: white;
    text-shadow: 0 0 0.5rem white;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
  }
  body #previewPopUp figure {
    overflow: hidden;
    border-radius: 5px;
  }
  body #previewPopUp.landscape div, body #previewPopUp.landscape figure {
    width: 700px;
  }
  body #previewPopUp.landscape div img, body #previewPopUp.landscape figure img {
    width: 100%;
  }
  body #previewPopUp.portrait div, body #previewPopUp.portrait figure {
    width: 500px;
  }
  body #previewPopUp.portrait div img, body #previewPopUp.portrait figure img {
    width: 100%;
  }
}
@media only all and (min-width: 992px) {
  body header#navSection div#menu-btn {
    display: flex;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder figure,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder figure {
    width: 90%;
  }
  body main section#carousel_element #slideControls button,
  body main section#carousel_element > div.filter #slideControls button {
    cursor: pointer;
  }
  body #previewPopUp.landscape div, body #previewPopUp.landscape figure {
    width: 900px;
  }
}
@media only all and (min-width: 1200px) {
  body header#navSection div#menu-btn {
    display: flex;
  }
  body main section#carousel_element,
  body main section#carousel_element > div.filter {
    height: 92.5vh;
    bottom: 0;
    top: initial;
  }
  body main section#carousel_element #carousel_nav,
  body main section#carousel_element > div.filter #carousel_nav {
    margin-top: 0rem;
    width: 75%;
    justify-content: center;
  }
  body main section#carousel_element #carousel_nav button,
  body main section#carousel_element > div.filter #carousel_nav button {
    margin: 0 1rem;
  }
  body main section#carousel_element #carousel,
  body main section#carousel_element > div.filter #carousel {
    width: 85vw;
    z-index: 4;
  }
  body main section#carousel_element #carousel #slideHolder article,
  body main section#carousel_element > div.filter #carousel #slideHolder article {
    width: 85vw;
  }
  body main section#carousel_element #carousel #slideHolder article div#figureHolder,
  body main section#carousel_element > div.filter #carousel #slideHolder article div#figureHolder {
    width: 85vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  body main section#carousel_element #slideControls,
  body main section#carousel_element > div.filter #slideControls {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 2.5%;
    right: 2.5rem;
  }
  body main section#carousel_element #slideControls button,
  body main section#carousel_element > div.filter #slideControls button {
    cursor: pointer;
  }
}/*# sourceMappingURL=gallery.css.map */