


@mixin centered {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  width: 100%;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  &:hover, &:active, &:focus{
    cursor: pointer;
  }
}


h1,h2,h3,h4,h5,p,div,article,a,button{
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body{
    nav{
      // display:none;
    }
    header#navSection{
      div#menu-btn{
        display:flex;
      }
      // section#sideMenu{
      //   position:absolute;
      //   top:0;
      //   left:0;
      //   z-index: 3;
      //   width: 100%;
      //   height: 100vh;
      //   background-color: rgba(0,0,0,0.5);
      //   display:flex;
      //   align-items: center;
      //   justify-content: center;
      //   nav{
      //     ul{
      //       list-style: none;
      //       padding:0;
      //       li{
      //         a{
      //           &:link, &:visited{
      //             color:white;
      //             text-decoration:none;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }
    main{
      section#background{
        div#filter_tag{
        background-color:rgba(0,0,100,1);
        background-image:
        radial-gradient(circle at 100% 150%, rgba(0,0,100,1) 24%, rgba(0,0,150,1) 24%, rgba(0,0,150,1) 28%, rgba(0,0,100,1) 28%, rgba(0,0,100,1) 36%, rgba(0,0,150,1) 36%, rgba(0,0,150,1) 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, rgba(0,0,100,1) 24%, rgba(0,0,150,1) 24%, rgba(0,0,150,1) 28%, rgba(0,0,100,1) 28%, rgba(0,0,100,1) 36%, rgba(0,0,150,1) 36%, rgba(0,0,150,1) 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, rgba(0,0,150,1) 10%, rgba(0,0,100,1) 10%, rgba(0,0,100,1) 23%, rgba(0,0,150,1) 23%, rgba(0,0,150,1) 30%, rgba(0,0,100,1) 30%, rgba(0,0,100,1) 43%, rgba(0,0,150,1) 43%, rgba(0,0,150,1) 50%, rgba(0,0,100,1) 50%, rgba(0,0,100,1) 63%, rgba(0,0,150,1) 63%, rgba(0,0,150,1) 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, rgba(0,0,150,1) 5%, rgba(0,0,100,1) 5%, rgba(0,0,100,1) 15%, rgba(0,0,150,1) 15%, rgba(0,0,150,1) 20%, rgba(0,0,100,1) 20%, rgba(0,0,100,1) 29%, rgba(0,0,150,1) 29%, rgba(0,0,150,1) 34%, rgba(0,0,100,1) 34%, rgba(0,0,100,1) 44%, rgba(0,0,150,1) 44%, rgba(0,0,150,1) 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, rgba(0,0,150,1) 5%, rgba(0,0,100,1) 5%, rgba(0,0,100,1) 15%, rgba(0,0,150,1) 15%, rgba(0,0,150,1) 20%, rgba(0,0,100,1) 20%, rgba(0,0,100,1) 29%, rgba(0,0,150,1) 29%, rgba(0,0,150,1) 34%, rgba(0,0,100,1) 34%, rgba(0,0,100,1) 44%, rgba(0,0,150,1) 44%, rgba(0,0,150,1) 49%, transparent 49%, transparent);
        background-size: 100px 50px;

        box-shadow: inset 0 0 50px rgb(0, 175, 255);
        }
        figure{
        
          img{
            
           
          }
          
        }
      }
    }
    #popupMolecule{
      
      span#instructions{
      }
      div#optionHolder{
       
        
        a{
     
          &:link, &:visited{
          
            figure{

              img{

              }
            }
            span.seriesName{

            }
            span.count{

            }
          }
          &:hover, &:active, &:focus{

          }
        }

      }
      div#btnHolder{

        button{

        }
      }
    }
    footer{

    }
  }
}
@media only all and (min-width: 760px) {
  body{
    header#navSection{
      a#logoArea{

        figure{
        }
        span{
        }
      }
    }
    main{
      section#background{
        div#filter_tag{
      
        }
        figure{
          img{

            &.deskImg{

            }
            &.mobileImg{

            }
            &.dying{
            }
          }
          
        }
      }
    }

  }
}
@media only all and (min-width: 992px) {
  body{
    #popupMolecule{
      span#instructions{
      }
      div#optionHolder{

        a{
          &:link, &:visited{
            figure{
              img{
              }
            }
            span.seriesName{
            }
            span.count{
            }
          }
          &:hover, &:active, &:focus{
          }
        }

      }
      div#btnHolder{

        button{
        }
      }
    }
  }
}
@media only all and (min-width: 1200px) {}