


@mixin centered {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  width: 100%;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  &:hover, &:active, &:focus{
    cursor: pointer;
  }
}


h1,h2,h3,h4,h5,p,div,article,a,button{
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body{
    height: 100vh;
    background-color:black;
    header#navSection{
      a#logoArea{
        position: absolute;
        top:0;
        z-index: 3;
        display:flex;
        width: fit-content;
        text-decoration: none;
        figure{
          display:flex;
          width: 40%;
          img{ width: 100%; }
        }
        span{
          font-size: 5rem;
          color: rgb(255,240,105);
          font-family: 'Alike Angular', serif;
          background-color:red;
          text-shadow: 2px 2px 5px black;
          text-align:center;
        }
      }
    }
    #popupMolecule{
      color:white;
      position:absolute;
      display:flex;
      flex-direction:column;
      align-items:center;
      bottom:0;
      z-index: 4; 
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.25);
      padding-top: 20vh;
      span#instructions{
        margin-bottom:1rem;
      }
      div#optionHolder{
        width: 75%;
        height: 65vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
        &::-webkit-scrollbar{
          display:none;
        }
        
        a{
          width: 95%;
          margin: 0 auto;
          &:link, &:visited{
            display:flex;
            align-items: center;
            // justify-content: center;
            background-color: rgba(0,0,0,0.5);
            color:white;
            text-decoration: none;
            margin: 0.5rem auto;
            font-style: italic;
            border: 1px solid rgba(100,100,100,1);
            figure{
              width: 40%;
              img{
                width: 100%;
              }
            }
            span.seriesName{
              width: 50%;
              padding-left: 1rem;
            }
            span.count{
              width:10%;
            }
          }
          &:hover, &:active, &:focus{
            box-shadow: 0px 0px 5px white;
          }
        }

      }
      div#btnHolder{
        width: 70%;
        display:flex;
        justify-content: flex-end;
        margin-top:1rem;
        button{
          color:white;
          background-color: transparent;
          border: none;
          font-style: italic;
        }
      }
    }
    footer{
      color:white;
      position:absolute;
      bottom:0;
      z-index: 3;
      font-size: 0.5rem;
    }
  }
}
@media only all and (min-width: 760px) {
  body{
  }
}
@media only all and (min-width: 992px) {

}
@media only all and (min-width: 1200px) {}