// $base-color:rgb(0, 175, 255);
// $base-color:rgb(100, 100, 100);

$base-color:white;
$secondary-color: rgb(255,240,103);
$background1: rgb(0,13,29);
// $background2: rgb(13,18,23);
$header1:rgb(15,36,39);
$header2: rgb(31,50,59);





@mixin centered {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  width: 100%;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

button{
  &:hover, &:active, &:focus{
    cursor: pointer;
  }
}

.blur{
  filter: blur(10px);
}



h1,h2,h3,h4,h5,p,div,article,a,button{
  font-family: Arial, Helvetica, sans-serif;
}

@media only all and (min-width: 0) {
  body{
    height: 100vh;
    // background-color:rgb(0,13,29);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(31,50,59,1) 100%);
    header{
      a#logoArea{
        position: absolute;
        top:0;
        z-index: 3;
        display:flex;
        width: fit-content;
        text-decoration: none;
        width: 150px;
        figure{
          display:flex;
          width: 100%;
          img{ width: 100%; }
        }
        span{
          font-size: 5rem;
          color: rgb(255,240,105);
          font-family: 'Alike Angular', serif;
          text-shadow: 2px 2px 5px black;
          text-align:center;
        }
      }
      nav#mainNav{
        display:none;
      }
      div#menu-btn{
        position:relative;
        text-shadow: 0 0 0.5rem $base-color;
        color: $base-color;
        z-index: 4;
        font-size: 2rem;
        align-items:center;
        justify-content: center;
        cursor: pointer;
        &:hover,&:active,&:focus{
          color:$secondary-color;
        }
        span{
          // border: 1px solid $base-color;
          position:absolute;
          top:25px;
          right:25px;
          width: 50px;
          height: 50px;
          display:flex;
          align-items:center;
          justify-content: center;
          transition: opacity 0.5s;
          &.faded{
            opacity:0;
          }
        }
      }
      section#sideMenu{
        position:absolute;
        top:0;
        left:0;
        z-index: 3;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        &.closed{
          display:none;
        }
        nav{
          ul{
            list-style: none;
            padding:0;
            li{
              border:1px solid white;
              margin: 0.5rem 0;
              &:hover,&:active,&:focus{
                border:2.5px solid $secondary-color;
                box-shadow: 0 0 5px $secondary-color;
              }
              a, button{
                text-align:center;
                border:none;
                background-color: transparent;
                color:white;
                background-color: rgba(0,0,0,0.5);
                width: 100%;
                display:flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 5rem;
                &:link, &:visited{
                  text-decoration:none;
                }
                &:hover, &:active, &:focus{
                  // color: $secondary-color;
                }
              }
              button{
              }
            }
          }
        }
      }
    }
    header.clear{
      a#logoArea,nav#mainNav>ul,div#menu-btn,section#sideMenu{
        display:none;
      }
      nav#mainNav{
        filter:blur(10px);
      }
    }
    main{
      height: 100vh;
      section#background{
        height: 100vh;
        overflow:hidden;
        div#filter_tag{
          position:absolute;
          height: 100vh;
          width: 100%;
          z-index: 2;
        }
        figure{
          height: 100vh;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow:hidden;
          position: relative;
          z-index:0;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display:flex;
            justify-content: center;
            align-items: center;
            // height: 100%;
            min-height: 100vh;
            width: 100%;
            &.deskImg{
              display:none;
            }
            &.keep{
              animation-name:fadeIn;
              animation-duration: 5s;
              animation-fill-mode:forwards;
            }
            &.dying{
              animation-name:fadeOut;
              animation-duration: 5s;
              animation-fill-mode:forwards;
              z-index:1;
            }
            @keyframes fadeOut{
              0%{
                opacity: 1;
                filter: blur(0px);
              }
              100%{
                opacity: 0;
                filter: blur(10px);
              }
            }
            @keyframes fadeIn{
              0%{
                opacity: 0;
                filter: blur(10px);
              }
              100%{
                opacity: 1;
                filter: blur(0px);
              }
            }
          }
          
        }
      }
    }
    #popupMolecule{
      color:white;
      position:absolute;
      display:flex;
      flex-direction:column;
      align-items:center;
      bottom:0;
      z-index: 4; 
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.25);
      padding-top: 20vh;
      span#instructions{
        margin-bottom:1rem;
      }
      div#optionHolder{
        width: 75%;
        height: 65vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none; 
        &::-webkit-scrollbar{
          display:none;
        }
        
        a{
          width: 95%;
          margin: 0 auto;
          &:link, &:visited{
            display:flex;
            align-items: center;
            // justify-content: center;
            background-color: rgba(0,0,0,0.5);
            color:white;
            text-decoration: none;
            margin: 0.5rem auto;
            font-style: italic;
            border: 1px solid rgba(100,100,100,1);
            figure{
              width: 40%;
              img{
                display:flex;
                width: 100%;
                height: 100%;
              }
            }
            span.seriesName{
              width: 50%;
              padding-left: 1rem;
            }
            span.count{
              width:15%;
              text-align:center;
            }
          }
          &:hover, &:active, &:focus{
            box-shadow: 0px 0px 5px $secondary-color;
            border: 2.5px solid rgba(100,100,100,1);
          }
        }

      }
      div#btnHolder{
        width: 70%;
        display:flex;
        justify-content: flex-end;
        margin-top:1rem;
        button{
          color:white;
          background-color: transparent;
          border: none;
          font-style: italic;
          &:hover, &:active, &:focus{
            color:$secondary-color;
          }
        }
      }
    }
    footer{
      color:white;
      position:absolute;
      bottom:0;
      z-index: 3;
      font-size: 0.5rem;
    }
  }
}
@media only all and (min-width: 760px) {
  body{
    header{
      a#logoArea{
        width: 200px;
        figure{
        }
        span{
        }
      }
    }
    main{
      section#background{
        div#filter_tag{

        }
        figure{
          img{
            width: auto;
            height: 100vh;
            &.deskImg{
              display:flex;
            }
            &.mobileImg{
              display:none;
            }
            &.dying{
            }
          }
          
        }
      }
    }

  }
}
@media only all and (min-width: 992px) {
  body{
    #popupMolecule{
      span#instructions{
      }
      div#optionHolder{
        width: 40%;
        a{
          &:link, &:visited{
            figure{
              img{
              }
            }
            span.seriesName{
            }
            span.count{
            }
          }
          &:hover, &:active, &:focus{
          }
        }

      }
      div#btnHolder{
        width: 37.5%;
        button{
        }
      }
    }
  }
}
@media only all and (min-width: 1200px) {
  body{
    header{
      a#logoArea{
        figure{
        }
        span{
        }
      }
      nav#mainNav{
        display:flex;
        height: 7.5vh;
        width: 100%;
        background-color: rgb(31,50,59);
        background-color: rgb(15,36,39);
          background-image:
          radial-gradient(circle at 100% 150%, $header1 24%, $header2 24%, $header2 28%, $header1 28%, $header1 36%, $header2 36%, $header2 40%, transparent 40%, transparent),
          radial-gradient(circle at 0    150%, $header1 24%, $header2 24%, $header2 28%, $header1 28%, $header1 36%, $header2 36%, $header2 40%, transparent 40%, transparent),
          radial-gradient(circle at 50%  100%, $header2 10%, $header1 10%, $header1 23%, $header2 23%, $header2 30%, $header1 30%, $header1 43%, $header2 43%, $header2 50%, $header1 50%, $header1 63%, $header2 63%, $header2 71%, transparent 71%, transparent),
          radial-gradient(circle at 100% 50%, $header2 5%, $header1 5%, $header1 15%, $header2 15%, $header2 20%, $header1 20%, $header1 29%, $header2 29%, $header2 34%, $header1 34%, $header1 44%, $header2 44%, $header2 49%, transparent 49%, transparent),
          radial-gradient(circle at 0    50%, $header2 5%, $header1 5%, $header1 15%, $header2 15%, $header2 20%, $header1 20%, $header1 29%, $header2 29%, $header2 34%, $header1 34%, $header1 44%, $header2 44%, $header2 49%, transparent 49%, transparent);
          background-size: 100px 50px;

        ul{
          display:flex;
          width:100%;
          justify-content: space-evenly;
          align-items: center;
          list-style: none;
          li{
            a,button{
              color:white;
              text-decoration: none;
              background-color: transparent;
              border:none;
              font-size: 1.25rem;
              &:hover, &:active{
                text-shadow: 0 0 10px $secondary-color;
                color:$secondary-color;
                font-style:italic;
              }
            }
          }
        }
      }
      div#menu-btn{
        display:none;
        cursor: pointer;
        span{
          display:none;
          &.faded{
          }
        }
      }
      section#sideMenu{
        &.closed{
        }
        nav{
          ul{
            li{
              &:hover,&:active,&:focus{
              }
              a, button{
                &:link, &:visited{
                }
              }
              button{
              }
            }
          }
        }
      }
    }
    main{
      height: 92.5vh;
      section#background{
        height: 92.5vh;
        div#filter_tag{
          height: 92.5vh;
        }

      }
    }
  }
}